DemoScripts/Dealer_Event_Catalog_Viewer.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>100f98cd-0167-1000-cd99-ee657983a69b</groupId>
    <name>Dealer Event Catalog Viewer</name>
    <snippet>
        <processGroups>
            <id>f4073e23-a7dc-342c-0000-000000000000</id>
            <parentGroupId>baee3c1d-d9f0-3190-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>1dddc8b3-f906-3046-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>92cbab50-cff8-351d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>ac94d46c-debe-3e1d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>36a53582-a30a-39d6-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>ac94d46c-debe-3e1d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>2429c31e-2d67-3afc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3a986cfd-1b1d-308f-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>17dd74a9-bf2d-3661-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>825b871f-a683-3b7e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8676f47a-97ac-3645-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>eb46a9ff-2dee-3083-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>17dd74a9-bf2d-3661-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8ac09461-6268-36c8-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>65efec19-b2b1-333b-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>f837dbff-5f2c-3b44-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9296a905-1b00-3ea6-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>f837dbff-5f2c-3b44-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>92cbab50-cff8-351d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a8c7bc63-749b-3ec2-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2513.245940201189</x>
                        <y>749.5565826875322</y>
                    </bends>
                    <bends>
                        <x>2513.245940201189</x>
                        <y>799.5565826875322</y>
                    </bends>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>f837dbff-5f2c-3b44-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>f837dbff-5f2c-3b44-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ab497f95-ce25-3d31-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>03a3f785-85c8-3a99-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>ac94d46c-debe-3e1d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c0991ec7-df88-3ac1-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2936.6252126621266</x>
                        <y>91.503241775667</y>
                    </bends>
                    <bends>
                        <x>2936.6252126621266</x>
                        <y>141.503241775667</y>
                    </bends>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>eb46a9ff-2dee-3083-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>eb46a9ff-2dee-3083-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c12f4e47-4d64-32a8-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>65efec19-b2b1-333b-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>unmatched</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>17dd74a9-bf2d-3661-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c8baf0f0-191e-326f-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>03a3f785-85c8-3a99-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>92cbab50-cff8-351d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d0b8a4db-0cb5-3223-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>825b871f-a683-3b7e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>ac94d46c-debe-3e1d-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d6b32aa1-1f62-328b-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>65efec19-b2b1-333b-0000-000000000000</id>
                        <type>OUTPUT_PORT</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>f4073e23-a7dc-342c-0000-000000000000</groupId>
                        <id>eb46a9ff-2dee-3083-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <labels>
                    <id>06d051b3-9ec6-34f7-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1565.2379439872475</x>
                        <y>659.1497724105947</y>
                    </position>
                    <height>221.3878631591797</height>
                    <label>All Events View</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>1046.6776885986328</width>
                </labels>
                <labels>
                    <id>478befc4-e9eb-3696-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1545.9159225028725</x>
                        <y>-2.0057260940440074</y>
                    </position>
                    <height>228.25657653808594</height>
                    <label>Dealer Materialized View</label>
                    <style>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>1537.4168853759766</width>
                </labels>
                <labels>
                    <id>70c2307d-3faf-3e70-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1550.4374965580896</x>
                        <y>333.9051576112929</y>
                    </position>
                    <height>199.3328857421875</height>
                    <label>Dead Letter Queues</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#ffd4df</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>1053.7264404296875</width>
                </labels>
                <labels>
                    <id>a66c0a41-0dfb-3773-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>594.8416713627772</x>
                        <y>-21.239735081272954</y>
                    </position>
                    <height>531.4093780517578</height>
                    <label>Dealer Event Catalog (Kafka)</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#d6e3ff</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>24px</value>
                        </entry>
                    </style>
                    <width>448.85748291015625</width>
                </labels>
                <outputPorts>
                    <id>03a3f785-85c8-3a99-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1646.8818669252087</x>
                        <y>430.6019676474273</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>DLQ 1</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <outputPorts>
                    <id>65efec19-b2b1-333b-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>2236.1910358155174</x>
                        <y>415.7932045351872</y>
                    </position>
                    <comments></comments>
                    <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                    <name>DLQ Elasticsearch</name>
                    <state>STOPPED</state>
                    <type>OUTPUT_PORT</type>
                </outputPorts>
                <processors>
                    <id>17dd74a9-bf2d-3661-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>2007.8521233952652</x>
                        <y>53.660800503239386</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Destination</key>
<value>
    <name>Destination</name>
</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>
    <name>Return Type</name>
</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>
    <name>Path Not Found Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                            <entry>
<key>id</key>
<value>
    <name>id</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Destination</key>
<value>flowfile-attribute</value>
                            </entry>
                            <entry>
<key>Return Type</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Path Not Found Behavior</key>
<value>ignore</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                            <entry>
<key>id</key>
<value>$.id</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>2429c31e-2d67-3afc-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>628.5387500048296</x>
                        <y>58.97733838682473</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-1-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>
    <name>topic_type</name>
</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>
    <name>honor-transactions</name>
</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>
    <name>group.id</name>
</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>
    <name>auto.offset.reset</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>
    <name>header-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>
    <name>max.poll.records</name>
</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>
    <name>max-uncommit-offset-wait</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>localhost:9092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>dealer_events</value>
                            </entry>
                            <entry>
<key>topic_type</key>
<value>names</value>
                            </entry>
                            <entry>
<key>honor-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>group.id</key>
<value>dealer_event_catalog</value>
                            </entry>
                            <entry>
<key>auto.offset.reset</key>
<value>latest</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>header-name-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>max.poll.records</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>max-uncommit-offset-wait</key>
<value>1 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Dealer Event Consumer</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_1_0</type>
                </processors>
                <processors>
                    <id>825b871f-a683-3b7e-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1572.999006310853</x>
                        <y>54.37175642435153</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>
    <name>mime.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>mime.type</key>
<value>application/json</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>92cbab50-cff8-351d-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>1606.838192981974</x>
                        <y>712.7570935011872</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>\}$</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>,"kafka_topic" : "${kafka.topic}","kafka_partition" : "${kafka.partition}","kafka_offset" : "${kafka.offset}" }</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>ac94d46c-debe-3e1d-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>633.8233143218085</x>
                        <y>319.6591450560502</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>\}$</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>, "timestamp" : ${now():toNumber()} }</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Event Timestamper</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>eb46a9ff-2dee-3083-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>2481.6252126621266</x>
                        <y>51.50324177566699</y>
                    </position>
                    <bundle>
                        <artifact>nifi-elasticsearch-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>elasticsearch-http-url</key>
<value>
    <name>elasticsearch-http-url</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>
    <name>elasticsearch-http-connect-timeout</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>
    <name>elasticsearch-http-response-timeout</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
<value>
    <name>elasticsearch-http-proxy-host</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
<value>
    <name>elasticsearch-http-proxy-port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-username</key>
<value>
    <name>proxy-username</name>
</value>
                            </entry>
                            <entry>
<key>proxy-password</key>
<value>
    <name>proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
<value>
    <name>put-es-id-attr</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>
    <name>put-es-index</name>
</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>
    <name>put-es-type</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>
    <name>put-es-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>
    <name>put-es-index-op</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>elasticsearch-http-url</key>
<value>http://localhost:9200</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
                            </entry>
                            <entry>
<key>proxy-username</key>
                            </entry>
                            <entry>
<key>proxy-password</key>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
<value>id</value>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>dealers</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>dealer</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>upsert</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutElasticsearchHttp</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
                </processors>
                <processors>
                    <id>f837dbff-5f2c-3b44-0000-000000000000</id>
                    <parentGroupId>f4073e23-a7dc-342c-0000-000000000000</parentGroupId>
                    <position>
                        <x>2058.245940201189</x>
                        <y>709.5565826875322</y>
                    </position>
                    <bundle>
                        <artifact>nifi-elasticsearch-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.7.1</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>elasticsearch-http-url</key>
<value>
    <name>elasticsearch-http-url</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>
    <name>elasticsearch-http-connect-timeout</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>
    <name>elasticsearch-http-response-timeout</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
<value>
    <name>elasticsearch-http-proxy-host</name>
</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
<value>
    <name>elasticsearch-http-proxy-port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-username</key>
<value>
    <name>proxy-username</name>
</value>
                            </entry>
                            <entry>
<key>proxy-password</key>
<value>
    <name>proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
<value>
    <name>put-es-id-attr</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>
    <name>put-es-index</name>
</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>
    <name>put-es-type</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>
    <name>put-es-batch-size</name>
</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>
    <name>put-es-index-op</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>elasticsearch-http-url</key>
<value>http://localhost:9200</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-connect-timeout</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>elasticsearch-http-response-timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-host</key>
                            </entry>
                            <entry>
<key>elasticsearch-http-proxy-port</key>
                            </entry>
                            <entry>
<key>proxy-username</key>
                            </entry>
                            <entry>
<key>proxy-password</key>
                            </entry>
                            <entry>
<key>put-es-id-attr</key>
                            </entry>
                            <entry>
<key>put-es-index</key>
<value>messages</value>
                            </entry>
                            <entry>
<key>put-es-type</key>
<value>message</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>put-es-batch-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-es-index-op</key>
<value>index</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutElasticsearchHttp</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.elasticsearch.PutElasticsearchHttp</type>
                </processors>
            </contents>
            <name>Dealer Event Catalog</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>03/25/2019 13:35:07 MDT</timestamp>
</template>
